* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

.header{
  background-color: blue;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}
